body{
       margin: 0 0;
}
.grid{ 
    display: flex;
   }
div{
    color:rgb(88, 161, 224);
}
.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    border-style: double;
    font-size: 2ex;
    text-align: left;
}
.nnav{
    border-style: double;
    color: crimson;
    font-size: 25px;
    text-align: left;
}

.nnav ul li a{
    text-decoration: none;

    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.nnav ul li a:hover{
background-color: whitesmoke;
color: #333;
}
.nnav ul{
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nnav li{
    float: left;
}
.header ul li{
    text-align: right;
    color: brown;
  }

.header ul{
    text-align: left;
    text-decoration: none;
}
.nav{
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:double ;
  
}
.nav>div{

  color: #000;
    border-style: groove;
  
}
.nav div a{
    text-decoration: none;

    display: block;
  color: rgb(19, 14, 14);
  text-align: center;
  padding: 14px 16px;
}
.nav>div:hover {
   color:rgb(145, 114, 58);
   background-color: rgba(196, 143, 29, 0.726);
   border-color: rgb(151, 122, 84);
}
.mainpage{
    background-color: rgb(252, 232, 207);
    width: 60%;
   
    border-style:double ;
}
.advertise{
   
    width: 20%;

    border-style: double;
}
.flex{
    display: flex;
    height: 80%;
   
}
.footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    text-align: right;
   
    border-style: double;
}
