body{
       margin: 0 0;
}
.grid{ 
    position: relative;
   }
div{
    color:rgb(88, 161, 224);
}
.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    border-style: double;
    font-size: 25px;
    text-align: left;
}
.header ul li{
    text-align: right;
    color: brown;
    text-decoration-style:none;
}
.header ul{
    text-align: left;
    text-decoration: none;
}
.nav{
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:double ;
  
}
.nav>div>div{
    text-align: center;
    justify-content: center;
    height: 15%;
    border-style: groove;
}
.nav>div>div:hover {
   color:wheat;
   background-color: rgb(49, 8, 8);
   border-color: burlywood;
}
.mainpage{
    background-color: rgb(252, 232, 207);
    width: 60%;
   
    border-style:double ;
}
.advertise{
   
    width: 20%;

    border-style: double;
}
.flex{
    display: flex;
    height: 80%;
   
}
.footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    text-align: right;
   
    border-style: double;
}
