body{
       margin: 0 0;
       background-color: rgb(248, 218, 178);
}
.grid{ 
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
   }
/* div{
    color:rgb(88, 161, 224);
} */
.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: crimson;
    /* border-style: double;
    font-size: 2ex; */
    text-align: left;
}
.nnav{
    background-color: #333;
    padding: 14px 16px;
}

.nnav ul li a{
    
    text-decoration: none;

    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.nnav ul li a:hover{
background-color: whitesmoke;
color: #333;
}
.nnav ul{
    display: block;
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
 
}
.nnav li{

    float: left;
}
.header ul li{
    text-align: right;
    color: brown;
  }

.header ul{
    text-align: left;
    text-decoration: none;
}
.nav{
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border-style:double ; */
  
}
.nav>div{
    background-color: #333;
  color: rgb(5, 5, 5);
    border-style: groove;
  
}
.nav div a{
    text-decoration: none;
    
    display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}
.nav div a:hover {
    
   color:rgb(5, 5, 5);
   background-color: rgba(255, 254, 254, 0.726);
   border-color: rgb(36, 32, 27);
}
.mainpage{
    background-color: rgb(252, 232, 207);
    width: 60%;
   
    /* border-style:double ; */
}
.advertise{
   
    width: 20%;

    /* border-style: double; */
}
.flex{
    display: flex;
    height: 80%;
   
}
.footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: right;
   font-size: xx-large;
    /* border-style: double; */
}
